<app-cabecera></app-cabecera>

<section class="login-section">
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2 class="form-title">Iniciar Sesión</h2>
      
      <div class="input-group">
        <input type="text" [(ngModel)]="model.username" name="username" required>
        <label>Correo</label>
      </div>

      <div class="input-group">
        <input [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" name="password" required>
        <label>Contraseña</label>
        <span class="password-toggle" (click)="hide = !hide">
          <i class="fas" [ngClass]="{'fa-eye-slash': hide, 'fa-eye': !hide}"></i>
        </span>
      </div>

      <button mat-raised-button color="primary" type="submit">Ingresar</button>
      <button mat-raised-button color="accent" (click)="onRegisterClick()">Registrar</button>
    </form>
  </div>
</section>
